---
import VarselView from "@components/VarselView/VarselView";
import {varslerApiurl} from "@utils/server/urls";
import {getOboToken} from "../../utils/server/getOboToken";
const oboToken = await getOboToken(Astro.locals.token);

let isError = false;

const data = await fetch(varslerApiurl, {
    method: "GET",
    headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
        Authorization: `Bearer ${oboToken}`,
    },
}).then((response) => {
    if (!response.ok) {
        console.error(`Error, fetch failed with status: ${response.status}`)
        isError = true;
    }

    return response.json();
}).catch((error) => {
    console.error(`Error, fetch failed: ${error}`);
    isError = true;
});
---


<div>
    <div>
        <VarselView isError={isError} varselResponse={data} client:only="react"/>
    </div>
</div>