---
import {minSideUrl} from "../../utils/server/urls";
import {Link, Heading} from "@navikt/ds-react";
import styles from "./PageHeader.module.css";
import {text} from "../../language/text";
const language = Astro.currentLocale
---


<div>
    <strong>
        <Link  href={minSideUrl} underline={false} variant="action">{text.minSide[language]}</Link>
    </strong>
    <Heading className={styles.pageHeading} size={"xlarge"}>{text.hovedoverskrift[language]}</Heading>
    <VisningsToggle client:only="react"/>
</div>