---
import { BodyLong, Heading, Link } from "@navikt/ds-react";
import type { Locale } from "@src/customTypes/Locale";
import { minSideUrl } from "@utils/urls";
import { text } from "../../language/text";
import { Filter } from "./Filter/Filter";
import styles from "./PageHeader.module.css";
import { VisningsToggle } from "./VisningsToggle/VisningsToggle";

const currentLocale: Locale = Astro.currentLocale as Locale;
---

<div class={styles.container}>
  <nav class={styles.breadcrumb} aria-label="Du er her">
    <ol class={styles.breadcrumbList}>
      <li class={styles.breadcrumbItem}>
        <Link href={minSideUrl}>{text.minSide[currentLocale]}</Link>
      </li>
    </ol>
  </nav>
  <Heading size="large" level="1">
    {text.hovedoverskrift[currentLocale]}
  </Heading>
  <BodyLong className={styles.description} size="large">
    {text.description[currentLocale]}
  </BodyLong>
  <div class={styles.controls}>
    <VisningsToggle client:only="react" />
    <Filter client:only="react" />
  </div>
</div>
