---
import {fetchDecoratorReact} from "@navikt/nav-dekoratoren-moduler/ssr";
import styles from "./Layout.module.css";
import {baseUrl} from "../utils/server/urls";
import {DecoratorLocale} from "@navikt/nav-dekoratoren-moduler";

const currentLocale = Astro.currentLocale
const Decorator = await fetchDecoratorReact({
    env: "dev",
    params: {
        context: "privatperson",
        language: currentLocale as DecoratorLocale,
        availableLanguages: [
            {
                locale: "nb",
                url: `${baseUrl}/`,
                handleInApp: false,
            },
            {
                locale: "en",
                url: `${baseUrl}/en`,
                handleInApp: false,
            },
            {
                locale: "nn",
                url: `${baseUrl}/nn`,
                handleInApp: false,
            }
        ],
    }
});
---

<!DOCTYPE html>
<html lang={currentLocale}>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Varsler</title>
    <link rel="preload" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.16.0/index.min.css" as="style"/>
    <link rel="stylesheet" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.16.0/index.min.css"/>
    <Decorator.Styles/>
</head>
<body class="main">
<Decorator.Header/>
<div class={styles.container}>
    <slot/>
</div>
<Decorator.Footer/>
<Decorator.Scripts/>
</body>
</html>